<div class="container">
    <!-- <div *appCarousel="let image from images; let ctrl=controller"
        class="carousel"><img [src]="image" alt class="image">
        <button (click)="ctrl.next()" class="button" type="button">Next</button>
        <button (click)="ctrl.prev()" class="button" type="button">Prev</button>

    </div> -->
    <div id="carouselExampleControls" class="carousel slide"
        *appCarousel="let image from images; let ctrl=controller; let isActive=activeSlide"
        data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item"
                *ngFor="let image of images; let i=index;"
                [ngClass]="i==isActive? 'active':''">
                <img class="d-block w-100" [src]=image alt="First slide">
            </div>
        </div>
        <a class="carousel-control-prev" (click)="ctrl.prev()"
            role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" (click)="ctrl.next()"
            role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>